spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://:3306/
    username:
    password:
   http:
       encoding:
         force: true
         charset: utf-8
         enabled: true

security:
  jwt:
    token-issuer:
    refresh-token-expiration-minutes: 7200
    token-expiration-minutes: 30
    token-signing-key: